@import '_variables';
@import url('https://fonts.googleapis.com/css?family=Damion|Roboto');

body{
	font-family: 'Roboto', 'sans-serif';
	color: $text-color-2;
}


#mainNav{
	background: $primary;
	z-index: 99;
	.dropdown-menu{
		background: $primary;
		border: none;
	}
	.dropdown-item{
		&:hover{
			background: transparent;
			color: $link-hover;
		}	
	}
}
#moreNav{
	color: white;
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
}
.nav-link{
	color: white;
	text-transform: uppercase;
}
h1,h2{
	text-transform: uppercase;
}
h2{
	font-size:1.5em;
}
h3{
	color: $text-color;
	padding: 0 0.5em;
	&:after{
		content: "";
    	height: 4px;
    	width: 55px;
    	background-color: $primary;
    	display: block;
    	margin: 20px auto;
	}
}

.color-primary{
	color:$primary;
}
.color-secondary{
	color:$secondary;
}

.head,.home{
	background: $primary;	
}
.home{
	padding-top: 100px;
	// max-height: 700px;
}
.home-img{
	max-height:300px;
	float: right;
	@media (min-width: 576px){
		float: none;
		display: block;
		margin: auto;
	}
	@media (min-width: 768px){
		max-height: none;
	}
}
.btn-home{
	background: $secondary;
}
.about{
	padding: 78px 0 18px 0;
}
.about-story{
	padding: 30px 20px 10px 20px;
	background: $bg;
	a{
		color: $tertiary;
	}
}
.new-here{
	min-height: 140px;
	padding: 15px;
	background: $secondary;
}
form > input[name=name], form > input[name=mail]{
	border-radius: inherit;
    border: none;
    padding: .375em .75em;
    height: 44px;
}
form >input{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.offer{
	padding: 80px 0;
	background: $bg;
}
.description{
	padding: 0 20px 30px 20px;
	color:$text-color;
}
.offer-figure{
	width: 148px;
	height: 148px;
	line-height: 148px;
	position: relative;
    z-index: 1;
}
.offer-figure-coaching{
	@extend .offer-figure;
	background: $secondary;
}
.offer-figure-development{
	@extend .offer-figure;
	background: $primary;
}
.offer-option{
	box-shadow: 0px 0px 5px 0px $text-color-2;
    background: white;
    padding: 90px 1.5em 1em 1.5em;
    margin-top: -90px;
}

.btn-custom{
	display: inline-block;
	width: 180px;
	height:44px;
	font-family: 'Damion';
	font-size: 1.9em;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    border: none;
}
.btn-new-here, .btn-get-it, .btn-work{
	background: $tertiary;
}
.btn-learn{
	background: $quaternary;
	margin-top: -21px;
}
.btn-get-it{
	margin-top: -21px;
}

.opinions{
	padding: 80px 0;
}
.opinions-opinion{
	box-shadow: 0px 0px 5px 0px $text-color-2;
	padding: 3em 1em 3.5em 1em;
	margin: -2em 0 -52px 0;
    font-style: italic;
}
.client{
	@extend .color-secondary;
	font-family: 'Damion';
	font-size: 1.5em;
	margin: 0;
}

.cooperation{
	padding: 200px 0 130px 0;
	background: linear-gradient(0deg, rgba($bg2, 0.9), rgba($bg2, 0.9)), url('../images/work.png') center center no-repeat fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	p{
  		font-size: 1.5em;
  	}

}

footer{
	background: $bg3;
	padding: 1em;
}
.socials{
	padding: 5px 0;
	figure{
		width: 25px;
		height: 25px;
		background: $text-color-2;
		margin: 0 5px;
		text-align: center;
	}
}